mixin photo(args={})
  - let styles = ''
  - args.width ? styles += `max-width:${args.width}px` : null

  .e-photo(style=styles)
    picture.content-item__picture
      source(srcset=args.srcset, media=args.media)
      source(srcset=args.srcset2, media=args.media2)
      img.e-photo__img(src=args.img, alt=args.alt)
    